<% include header.ejs %>
<body>
	<% include navbar.ejs %>
<div class="container">
	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Welcome <strong><%= user.local.name %></strong></h1>
	</div>
</div>
	<div class="row">
		<div class="container">
			<div class="well">
				<h3><span class="fa fa-user"></span> Details</h3>
					<div class="modal-body row">
  					<div class="col-md-6">
							<p>
								<strong>Email </strong>: <%= user.local.email %><br>
								<strong>Club/Chapter Name </strong>: <%= user.local.club %><br>
								<strong>ID </strong>: <%= user.local.loginID %>
							</p>
							<hr>
							<a href="/admin/allot" class="btn btn-default" role="button">Allot FreeSlots</a>
						</div>
						<div class="col-md-6">
							<p>
								List Of Your Club/Chapter's Students Who have updated their timetable.
							</p>
							<ul>
								<% students.forEach(function(student) { %>
									<li><%= student.name %></li>
									<% }); %>
							</ul>
							<p>
								<a href="/admin/delete" class="btn btn-default" role="button">Delete Data</a>
							</p>
						</div>
					</div>
			</div>
		</div>
	</div>
	<% include footer.ejs %>
</body>
</html>
